<!DOCTYPE html>
<html lang="en">
<%- include('components/head') %>

<body>
    <%- include('components/header') %>
    <%- include('components/nav') %>
    
    <main class="sec clear-main">
        <!-- Image accordion -->
        <script src="static/js/accordion.js" defer></script>
        <section class="sec-cont">
            <div class="accordion-cont">
                <button class="slide-btn prev">
                    <img src="static/images/arrow-left-circle.svg" alt="previosly movie"/>
                </button>
                <button class="slide-btn next">
                    <img src="static/images/arrow-right-circle.svg" alt="next movie"/>
                </button>
    
                <div class="slider">
                    <% movies.forEach((movie) => { %>
                    <section class="slide">
                        <div class="slide-content">
                            <h2><%= movie.attributes.title %></h2>
                            <h3><%- markdown(movie.attributes.intro) %></h3>
                            <a href="/movie/<%= movie.id %>" class="slide-btn">Biljetter</a>
                        </div>
                        <img src="<%= movie.attributes.image.url%>"
                            alt="movie banner" />
                    </section>
                    <% }); %>
                </div>
            </div>
        </section>

        <!-- Movies right now -->
        <section class="on-the-cinema sec-cont">
            <div class="movies">
                <h1>PÅ BION JUST NU</h1>
                <ul>
                    <% movies.forEach((movie) => { %>
                        <a href="/movie/<%= movie.id %>">
                            <img src="<%= movie.attributes.image.url %>" alt="movie image">
                        </a>
                    <% }); %>
                </ul>
            </div>
        </section>
    </main>

    <%- include('components/footer') %>
</body>

</html>