<!DOCTYPE html>
<html lang="en">
<%- include('components/head') %>
  <body>
    <%- include('components/header') %>
    <%- include('components/nav') %>

    <main class="movies sec">
      <section class="movies sec-cont" style="margin-top: 3rem;">
        <ul class="movies-list">
          <% movies.forEach((movie) => { %>
            <a href="/movie/<%= movie.id %>">
                <img src="<%= movie.attributes.image.url %>" alt="movie image">
            </a>
          <% }); %>
        </ul>
      </section>
    </main>

    <%- include('components/footer') %>
  </body>
</html>